# Tutorial 1.1 External Data Files

## 1.1.0 Importing packages

In [106]:
import numpy as np
import pandas as pd

## 1.1.1 Importing external data files

### File handling in native Python

In [21]:
f = open('./Data/mines.txt', 'r')
print(f.read())
f.close()

COLORADO SCHOOL OF MINES
DEPARTMENT OF CHEMISTRY
The Chemistry Department at Colorado School of Mines emphasizes interdisciplinary approaches to solving real-world problems in areas such as sustainability, alternative fuels and energy, bio-detection, materials, nanomedicines and water quality assessment.

In [23]:
with open('./Data/mines.txt', 'r') as f:
	print(f.read())

COLORADO SCHOOL OF MINES
DEPARTMENT OF CHEMISTRY
The Chemistry Department at Colorado School of Mines emphasizes interdisciplinary approaches to solving real-world problems in areas such as sustainability, alternative fuels and energy, bio-detection, materials, nanomedicines and water quality assessment.

In [25]:
with open('./Data/mines.txt', 'r') as f:
	print(f.readline())

COLORADO SCHOOL OF MINES

In [26]:
with open('./Data/mines.txt', 'r') as f:
	lines = f.readlines()
	
print(lines)

['COLORADO SCHOOL OF MINES\n', 'DEPARTMENT OF CHEMISTRY\n', 'The Chemistry Department at Colorado School of Mines emphasizes interdisciplinary approaches to solving real-world problems in areas such as sustainability, alternative fuels and energy, bio-detection, materials, nanomedicines and water quality assessment.']

### Importing files with numpy

In [7]:
data = np.loadtxt('./Data/rand_gaussian.txt', skiprows=1)

In [30]:
data_2d = np.loadtxt('./Data/Si_Expt.txt', skiprows=2)

In [16]:
two_theta, intensity = np.loadtxt('./Data/Si_Expt.txt', skiprows=2, unpack=True)

In [17]:
peel, no_peel = np.loadtxt('./Data/fruits.csv', dtype='str', comments='%', delimiter=',', skiprows=1, unpack=True)

### Importing files with pandas

In [83]:
office_supplies = pd.read_csv('./Data/office_supplies.csv')
office_supplies

          Date   Region       Rep    Item  Units  Unit Cost    Total
0     1/6/2021     East     Jones  Pencil     95       1.99   189.05
1    1/23/2021  Central    Kivell  Binder     50      19.99   999.50
2     2/9/2021  Central   Jardine  Pencil     36       4.99   179.64
3    2/26/2021  Central      Gill     Pen     27      19.99   539.73
4    3/15/2021     West   Sorvino  Pencil     56       2.99   167.44
5     4/1/2021     East     Jones  Binder     60       4.99   299.40
6    4/18/2021  Central   Andrews  Pencil     75       1.99   149.25
7     5/5/2021  Central   Jardine  Pencil     90       4.99   449.10
8    5/22/2021     West  Thompson  Pencil     32       1.99    63.68
9     6/8/2021     East     Jones  Binder     60       8.99   539.40
10   6/25/2021  Central    Morgan  Pencil     90       4.99   449.10
11   7/12/2021     East    Howard  Binder     29       1.99    57.71
12   7/29/2021     East    Parent  Binder     81      19.99  1619.19
13   8/15/2021     East     Jones  Pencil     35       4.99   174.65
14    9/1/2021  Central     Smith    Desk      2     125.00   250.00
15   9/18/2021     East     Jones     Pen     16      15.99   255.84
16   10/5/2021  Central    Morgan  Binder     28       8.99   251.72
17  10/22/2021     East     Jones     Pen     64       8.99   575.36
18   11/8/2021     East    Parent     Pen     15      19.99   299.85
19  11/25/2021  Central    Kivell     Pen     96       4.99   479.04
20  12/12/2021  Central     Smith  Pencil     67       1.29    86.43
21  12/29/2021     East    Parent     Pen     74      15.99  1183.26

In [75]:
office_supplies.dtypes

Date          object
Region        object
Rep           object
Item          object
Units          int64
Unit Cost    float64
Total        float64
dtype: object

In [84]:
fruits = pd.read_csv('./Data/fruits.csv', skiprows=1, names=['Peels', 'No Peels'])
fruits

        Peels No Peels
0      Banana    Apple
1      Orange    Peach
2  Grapefruit     Pear
3     Avocado    Grape

In [85]:
jan_incidents = pd.read_excel('./Data/safety_incidents.xlsx', sheet_name='January')
jan_incidents

,Date,Injury Location,Gender,Age Group,Incident Type,Days Lost,Plant,Report Type,Shift,Department,Cost
0,2020-01-01,Multiple,Male,25-34,Burn,0.0,Iowa,Near Miss,Afternoon,Painting,0
1,2020-01-03,NaN,Male,35-49,Vehicle,0.5,Alabama,Lost Time,Day,Fabrication,3367
2,2020-01-03,Eye,Male,18-24,Cut,0.0,Georgia,Near Miss,Day,Administration,0
3,2020-01-04,Legs,Female,50+,Falling Object,0.0,Iowa,Near Miss,Day,Painting,0
4,2020-01-07,Legs,Male,25-34,Lifting,0.0,Ohio,Near Miss,Day,Painting,0
5,2020-01-11,NaN,Female,50+,Crush & Pinch,0.0,Georgia,First Aid,Afternoon,Security,132
6,2020-01-11,Neck,Male,25-34,Crush & Pinch,3.5,Iowa,Lost Time,Day,Purchasing,4872
7,2020-01-12,Feet,Male,35-49,Burn,1.5,California,Lost Time,Night,Administration,1248
8,2020-01-15,NaN,Male,18-24,Fall,0.0,Florida,First Aid,Afternoon,Maintenance,29
9,2020-01-16,Arms,Male,50+,Crush & Pinch,4.5,Florida,Lost Time,Afternoon,Administration,2525
10,2020-01-18,NaN,Female,35-49,Falling Object,0.0,Iowa,First Aid,Night,Shipping,59
11,2020-01-23,Neck,Male,35-49,Crush & Pinch,0.0,Alabama,Medical Claim,Afternoon,Shipping,1947
12,2020-01-26,Eye,Male,35-49,Vehicle,0.0,Florida,Medical Claim,Day,Finishing,2268
13,2020-01-27,Eye,Male,50+,Burn,0.0,Texas,Medical Claim,Day,Maintenance,628
14,2020-01-27,Eye,Male,35-49,Burn,0.0,Georgia,First Aid,Night,Finishing,77
15,2020-01-27,Back,Male,50+,Cut,0.0,Ohio,First Aid,Day,Shipping,341
16,2020-01-30,Arms,Male,18-24,Burn,0.0,Montana,Near Miss,Afternoon,Maintenance,0
17,2020-01-30,Hands,Male,35-49,Fall,0.0,California,Medical Claim,Day,Melting,2007

In [87]:
incidents = pd.ExcelFile('./Data/safety_incidents.xlsx')
feb_incidents = pd.read_excel(incidents, 'February')
feb_incidents

,Date,Injury Location,Gender,Age Group,Incident Type,Days Lost,Plant,Report Type,Shift,Department,Cost
0,2020-02-01,Multiple,Male,50+,Crush & Pinch,0.0,Illinois,First Aid,Night,Painting,338
1,2020-02-03,Arms,Male,35-49,Fall,4.0,Ohio,Lost Time,Night,Maintenance,1196
2,2020-02-04,Head,Male,18-24,Lifting,0.0,Montana,Near Miss,Night,Shipping,0
3,2020-02-09,Feet,Male,35-49,Crush & Pinch,0.0,Montana,First Aid,Afternoon,Melting,180
4,2020-02-09,Head,Male,25-34,Equipment,4.5,Florida,Lost Time,Afternoon,Shipping,3784
5,2020-02-10,Feet,Male,35-49,Burn,1.5,Texas,Lost Time,Day,Melting,4414
6,2020-02-10,Head,Male,35-49,Slip/trip,2.5,Ohio,Lost Time,Afternoon,Security,2790
7,2020-02-11,NaN,Male,25-34,Slip/trip,0.0,Illinois,First Aid,Afternoon,Administration,394
8,2020-02-12,Hands,Male,50+,Fall,4.0,Montana,Lost Time,Afternoon,Finishing,4743
9,2020-02-13,NaN,Male,50+,Burn,4.5,Illinois,Lost Time,Night,Finishing,3417
10,2020-02-13,Legs,Male,25-34,Crush & Pinch,0.0,Alabama,Medical Claim,Night,Painting,2337
11,2020-02-14,Abdomen,Male,25-34,Equipment,0.0,Georgia,Near Miss,Night,Shipping,0
12,2020-02-16,Abdomen,Male,50+,Slip/trip,0.0,California,First Aid,Day,Fabrication,207
13,2020-02-17,Multiple,Female,35-49,Fall,2.0,Ohio,Lost Time,Night,Maintenance,2544
14,2020-02-19,Multiple,Female,35-49,Equipment,0.0,Montana,Medical Claim,Day,Administration,3411
15,2020-02-20,Back,Male,25-34,Slip/trip,0.0,California,Near Miss,Afternoon,Fabrication,0
16,2020-02-22,NaN,Male,25-34,Equipment,0.0,Georgia,Medical Claim,Afternoon,Fabrication,4800
17,2020-02-27,Neck,Male,50+,Equipment,0.0,Texas,Medical Claim,Night,Maintenance,3339
18,2020-02-28,Back,Male,50+,Lifting,5.0,Montana,Lost Time,Night,Fabrication,4969

In [88]:
incidents.sheet_names

['January', 'February', 'March']

## 1.1.2 Querying data

### Querying data with numpy

In [31]:
for i in range(len(data)):
	print(i, data[i])

0 10.74
1 10.216
2 10.234
3 9.9783
4 13.26
5 9.3969
6 11.052
7 10.67
8 9.1267
9 9.7169
10 10.727
11 8.4347
12 10.621
13 9.6692
14 10.628
15 9.3873
16 10.483
17 9.868
18 11.426
19 10.492
20 8.6693
21 11.527
22 9.3548
23 10.451
24 9.3651
25 9.1362
26 10.728
27 10.964
28 10.564
29 10.321
30 8.981
31 10.129
32 9.3692
33 9.9847
34 10.41
35 9.4129
36 8.4048
37 8.0709
38 9.3868
39 11.192
40 8.5918
41 10.457
42 8.4978
43 10.522
44 10.576
45 10.72
46 9.6325
47 9.587
48 8.3456
49 11.108

In [36]:
print(data_2d[0,0], data_2d[0,1])

5.0 27.0

In [33]:
print(data_2d[0])

[ 5. 27.]

In [37]:
print(data_2d[:,0])

[ 5.    5.01  5.02 ... 89.98 89.99 90.  ]

In [41]:
print(data.dtype)

float64

In [43]:
str_data = data.astype(str)
print(str_data)

### Querying data with pandas

In [90]:
items = office_supplies['Item']
print(items)

0     Pencil
1     Binder
2     Pencil
3        Pen
4     Pencil
5     Binder
6     Pencil
7     Pencil
8     Pencil
9     Binder
10    Pencil
11    Binder
12    Binder
13    Pencil
14      Desk
15       Pen
16    Binder
17       Pen
18       Pen
19       Pen
20    Pencil
21       Pen
Name: Item, dtype: object

In [93]:
reps_totals = office_supplies[['Rep', 'Total']]
print(reps_totals)

         Rep    Total
0      Jones   189.05
1     Kivell   999.50
2    Jardine   179.64
3       Gill   539.73
4    Sorvino   167.44
5      Jones   299.40
6    Andrews   149.25
7    Jardine   449.10
8   Thompson    63.68
9      Jones   539.40
10    Morgan   449.10
11    Howard    57.71
12    Parent  1619.19
13     Jones   174.65
14     Smith   250.00
15     Jones   255.84
16    Morgan   251.72
17     Jones   575.36
18    Parent   299.85
19    Kivell   479.04
20     Smith    86.43
21    Parent  1183.26

In [91]:
first_item = items[0]
print(first_item)

Pencil

In [101]:
employees = pd.read_csv('./Data/employees.csv', index_col=0)
employees

         Job Title  Age     Salary
Name
Emily      Manager   54  $141,604
Theodore   Analyst   29   $41,366
Penelope   Analyst   37   $61,994
Logan     Engineer   49   $98,581
Adam      Engineer   43   $98,581
Camila    Engineer   38   $89,104

In [104]:
employees.loc['Emily']

Job Title      Manager
Age                 54
Salary       $141,604
Name: Emily, dtype: object

In [105]:
employees.iloc[0]

Job Title      Manager
Age                 54
Salary       $141,604
Name: Emily, dtype: object

## 1.1.3 Importing multiple files simultaneously

In [107]:
import glob

In [108]:
all_files = glob.glob('./Data/*')
print(all_files)

['./Data\\Al2O3_Calc.txt', './Data\\Al2O3_Expt.txt', './Data\\employees.csv', './Data\\fruits.csv', './Data\\jellybean.png', './Data\\maisie.png', './Data\\mines.txt', './Data\\office_supplies.csv', './Data\\rand_gaussian.txt', './Data\\safety_incidents.xlsx', './Data\\Si_Calc.txt', './Data\\Si_Expt.txt', './Data\\stump.png']

In [110]:
csv_files = glob.glob('./Data/*.csv')
print(csv_files)

['./Data\\employees.csv', './Data\\fruits.csv', './Data\\office_supplies.csv']

In [112]:
csv_dfs = []

for i in range(len(csv_files)):
	df = pd.read_csv(csv_files[i])
	csv_dfs.append(df)
	
for i in range(len(csv_dfs)):
	print(csv_dfs[i])

       Name Job Title  Age     Salary
0     Emily   Manager   54  $141,604
1  Theodore   Analyst   29   $41,366
2  Penelope   Analyst   37   $61,994
3     Logan  Engineer   49   $98,581
4      Adam  Engineer   43   $98,581
5    Camila  Engineer   38   $89,104
       % Peel  No Peel
0      Banana    Apple
1      Orange    Peach
2  Grapefruit     Pear
3     Avocado    Grape
          Date   Region       Rep    Item  Units  Unit Cost    Total
0     1/6/2021     East     Jones  Pencil     95       1.99   189.05
1    1/23/2021  Central    Kivell  Binder     50      19.99   999.50
2     2/9/2021  Central   Jardine  Pencil     36       4.99   179.64
3    2/26/2021  Central      Gill     Pen     27      19.99   539.73
4    3/15/2021     West   Sorvino  Pencil     56       2.99   167.44
5     4/1/2021     East     Jones  Binder     60       4.99   299.40
6    4/18/2021  Central   Andrews  Pencil     75       1.99   149.25
7     5/5/2021  Central   Jardine  Pencil     90       4.99   449.10
8    5/22/2021     West  Thompson  Pencil     32       1.99    63.68
9     6/8/2021     East     Jones  Binder     60       8.99   539.40
10   6/25/2021  Central    Morgan  Pencil     90       4.99   449.10
11   7/12/2021     East    Howard  Binder     29       1.99    57.71
12   7/29/2021     East    Parent  Binder     81      19.99  1619.19
13   8/15/2021     East     Jones  Pencil     35       4.99   174.65
14    9/1/2021  Central     Smith    Desk      2     125.00   250.00
15   9/18/2021     East     Jones     Pen     16      15.99   255.84
16   10/5/2021  Central    Morgan  Binder     28       8.99   251.72
17  10/22/2021     East     Jones     Pen     64       8.99   575.36
18   11/8/2021     East    Parent     Pen     15      19.99   299.85
19  11/25/2021  Central    Kivell     Pen     96       4.99   479.04
20  12/12/2021  Central     Smith  Pencil     67       1.29    86.43
21  12/29/2021     East    Parent     Pen     74      15.99  1183.26